@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* Reseteo del formato previo, para poder tener un mejor control posterior*/

html {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  color: rgb(23, 23, 23);
  font-size: 10px;
  box-sizing: border-box; /* para obligar al navegador que use el modelo de cajas alternativo donde, al ancho y al alto de la caja NO hay que sumar padding, margin, border*/
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; /*para que todos los elementos hereden el modelo alternativo de cajas*/
  border: 0;
  vertical-align: baseline;
}

header,
footer {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-size: 1.6rem;
  width: 100%;
}

h1 {
	text-align: center;
}

#pieHome {
  position: fixed;
  bottom: 0rem;
  font-size: 1rem;
}

#cabeceraHome,
#pieHome {
  background-color: transparent;
  color: rgb(255, 255, 255);
}

header div {
  margin-left: 20rem;
}

.article {
  font-size: 1.6rem;
  margin-left: 34rem;
  margin-right: 34rem;
  margin-bottom: 4rem;
}

.torre {
  font-size: 9.3rem;
  font-weight: bold;
}

#lemaEmpresa {
  font-size: 3rem;
}

#equisRoja {
  color: rgb(153, 17, 17);
  font-size: 11rem;
  font-weight: bold;
}

.equisRoja {
  color: rgb(153, 17, 17);
  font-size: 9rem;
  font-weight: bold;
}


ul {
  display: flex;
  list-style-type: none;
  margin-left: 33rem;
}

nav ul {
  padding-bottom: 1.5rem;
}

nav ul li::before {
  content: "·";
  width: 1rem;
  margin-right: 1rem;
}

nav ul li:first-child::before {
  content: "";
}

li {
  margin-right: 1rem;
  color: rgb(255, 255, 255);
}

a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

a:hover {
  color: rgb(153, 17, 17);
}

a:active {
  font-weight: 700;
}

.currentOption {
  font-weight: bolder;
}

.enlaceTexto {
  color:rgb(23, 23, 23);
  border-bottom:rgb(23, 23, 23) dotted 0.1rem ;
}

.inline {
  display: inline-flex; /*permite alinear el texto 'torrextorre' con la imagen 'isologo'*/
}

footer li {
  padding-bottom: 1.5rem;
}

footer p {
  margin-left: 34rem;
}

footer ul li::before {
  content: "·";
  width: 1rem;
  margin-right: 1rem;
}

footer ul li:first-child::before {
  content: "";
}


abbr {
  text-decoration: none;
}
/* ------------------------index.html----------------------*/
#cabeceraHome nav ul {
  padding-top: 1.5rem !important;
}

#pieHome p {
  font-weight: normal;
}

#pieHome ul {
  margin-top: 0%;
}

.alumno:before {
  content: "2021 \00A9 ";
}

.conFondo {
  background-image: url("../img/home-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#homeArticle h1 {
  font-size: 11rem;
  margin-top: 15rem;
}
#homeArticle h1,
#homeArticle p {
  color: white;
  font-weight: bold;
  margin-left: 34rem;
}

#isologo {
  margin-left: 2rem;
}
/* --------------------------------------------------------*/
/* -----------------------el-ajedrez.html------------------*/
header div {
  margin-left: 34rem;
}

#elAjedrezArticle h1{
  font-size: 3rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

#elAjedrezArticle p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#elAjedrezArticle figure {
  text-align: center;
}

.pie_imagen {
  text-align: center;
  font-size: 0.7em;
}

table {
  table-layout: fixed; /* se hace que el ancho de las columnas coincida con el ancho del encabezado*/
  width: 80%;
  border-collapse: collapse;
  border:rgb(0, 0, 0) solid 1px;
  margin-left: auto; /*para centrar*/
  margin-right: auto; /*para centrar*/
}

table caption {
  border:rgb(0, 0, 0) solid 1px;
  border-bottom: none;
}

thead th:nth-child(1) {
  width: 20%;
}

thead th:nth-child(2) {
  width: 20%;
}

thead th:nth-child(3) {
  width: 20%;
}

thead th:nth-child(4) {
  width: 40%;
}

th, td {
  padding: 20px;
}

tbody tr:nth-child(odd) { /*Rayas de cebra, líneas pares*/
  background-color:rgba(0, 0, 0, 0.1);
}

tbody tr:nth-child(even) { /*Rayas de cebra, líneas pares*/
  background-color: rgba(255, 255, 255, 1);
}
/* --------------------------------------------------------*/
/* -----------------------cursos.html----------------------*/

#cursosArticle h1{
  font-size: 3rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

#cursosArticle h2{
  font-size: 2rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

#cursosArticle h3{
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

#cursosArticle ul {
  display: block;
  list-style-type: square;
  margin-left: 3rem;
  width: 60%;
}
#cursosArticle li {
  color: rgb(0, 0, 0);
  margin-right: 0rem;
}
#cursosArticle div {
  margin-left: 27rem;
}


dl {
  margin-left: 3rem;
  width: 70%;
}

dt {
  border-bottom: rgb(0, 0, 0) solid 1px;
  font-weight: bold;
}

dd {
  margin-bottom: 1rem;
}

#cursosArticle table caption, th {
	text-align: left;
}

#cursosArticle table th, td {
	padding-left : 2rem;
}

#cursosArticle table th {
	text-decoration : underline;
}
/* --------------------------------------------------------*/
/* -----------------------inscripcion.html-----------------*/
form span:first-child {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 0.1rem;
  width: 20%;
  font-size: 0.9rem;
  text-align: left;
}

form label {
	margin-top: 2rem;
}
form fieldset, input, select, textarea{
	border:rgb(0, 0, 0) solid 1px;
}

form fieldset {
	padding: 2rem;
  margin-top: 2rem;
}

form label {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

form input, select, textarea {
	padding: 1rem;
	margin-top: 1rem;
	margin-bottom:1rem;
}

form legend {
	font-weight: 700;
}

form fieldset ul {
  display: flex;
  list-style-type: none;
  margin-left: 0rem;
}

form fieldset:nth-of-type(3) {
  margin-bottom: 2rem;
}

#inscripcionArticle li {
  color: rgb(0, 0, 0);
}

#inscripcionArticle div {
  margin: 4rem;
}

textarea {
  overflow: auto;
}

input[type="submit"] {
	background-color: rgb(153, 17, 17);
	color:rgb(255, 255, 255);
	padding:1rem;
	border-radius: 10%;
  }

  input[type="submit"]:hover {
	cursor: pointer;
  }
  
  select:hover {
	cursor: pointer;
  }

form {
  margin-bottom: 3rem;
}
/* --------------------------------------------------------*/