@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

  html {
    
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    color: rgb(23, 23, 23);
    font-size: 10px;
  }  


header,
footer {
  background-color: rgb(0, 0, 0);
  color:rgb(255, 255, 255);
  font-size: 1.6rem;
}

header div {
  margin-left: 20em;
  border:rosybrown solid 1px;
}

.torre {
  font-size: 9.3rem;
  font-weight: bold;
}

#torreHome {
  margin-top: 10rem;
  margin-left: 20rem;
  display:inline ;
  color:rgb(255, 255, 255);
  font-size: 12rem;
  font-weight: bold;
  border:rosybrown solid 1px;
}

#escuelaAjedrez {
  margin-top: -80px;
  margin-left: 20rem;
  margin-bottom: 50rem;
  color:rgb(255, 255, 255);
  font-size: 3.3rem;
  font-weight: bold;
  border:rosybrown solid 1px;
}

#equisRoja {
  color:rgb(153, 17, 17);
  font-size: 12rem;
  font-weight: bold;
}

ul {
  display: flex;
  margin-left: 15em;
  list-style-type: none;
  /*border:rosybrown solid 1px;*/
  margin-block-start: 0em; /*elimino este estilo que añade el agente de usuario*/
  padding-inline-start: 0px; /*elimino este estilo que añade el agente de usuario*/
}

li {
  margin-right: 3em;
}

a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  display: inline-block;
  width: auto;
  line-height: 3;
}

a:hover {
  color: rgb(153, 17, 17);
}

a:active {
  font-weight: 700;
}

/* ------------------------index.html----------------------*/
.conFondo {
  background-image: url("../img/home-hero.jpg");
}

/* --------------------------------------------------------*/
/* -----------------------el-ajedrez.html------------------*/
/* --------------------------------------------------------*/
/* -----------------------cursos.html----------------------*/
/* --------------------------------------------------------*/
/* -----------------------inscripcion.html-----------------*/
/* --------------------------------------------------------*/

